data/nodered/flows.json
[
    {
        "id": "tab_flow1",
        "type": "tab",
        "label": "1. Metni Medyaya Çevir (TTS)",
        "disabled": false,
        "info": "Akış 1: Metni Piper TTS API kullanarak /tmp/media altındaki WAV dosyasına çevirir."
    },
    {
        "id": "tab_flow2",
        "type": "tab",
        "label": "2. TTS + FFmpeg Formatlama",
        "disabled": false,
        "info": "Akış 2: Metni sese dönüştürür ve ardından telekom standartlarına (8000Hz Mono PCM) FFmpeg ile formatlar."
    },
    {
        "id": "tab_flow3",
        "type": "tab",
        "label": "3. TTS + FFmpeg + Baresip IVR",
        "disabled": false,
        "info": "Akış 3: Metni sese dönüştürür, FFmpeg ile 8kHz PCM yapar ve Baresip soketine /dial komutu göndererek arama ve ses oynatma sürecini başlatır."
    },
    {
        "id": "comment_flow1",
        "type": "comment",
        "z": "tab_flow1",
        "name": " Akış 1: Metinden Sese (TTS - Python)",
        "info": "1. '1. Tetikle (TTS Test)' düğmesine basın.\n2. Piper TTS Türkçe sesini kullanarak WAV dosyası üretir.\n3. Çıktı /tmp/media/flow1_test.wav olarak kaydedilir.",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject_flow1",
        "type": "inject",
        "z": "tab_flow1",
        "name": "1. Tetikle (TTS Test)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"text\": \"Merhaba, bu birinci akış testidir. Metin sese dönüştürülüyor.\", \"model\": \"tr_TR-fahrettin-medium\", \"filename\": \"flow1_test.wav\"}",
        "payloadType": "json",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "http_piper_flow1"
            ]
        ]
    },
    {
        "id": "http_piper_flow1",
        "type": "http request",
        "z": "tab_flow1",
        "name": "Piper TTS API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/api/tts",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "debug_flow1"
            ]
        ]
    },
    {
        "id": "debug_flow1",
        "type": "debug",
        "z": "tab_flow1",
        "name": "Flow 1 Sonuç (WAV)",
        "active": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "comment_flow2",
        "type": "comment",
        "z": "tab_flow2",
        "name": " Akış 2: TTS + FFmpeg Telco Formatlama (Python)",
        "info": "1. '2. Tetikle (TTS + FFmpeg)' düğmesine basın.\n2. Piper TTS ile WAV üretilir.\n3. FFmpeg ile 8kHz Mono PCM formatına dönüştürülür.",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject_flow2",
        "type": "inject",
        "z": "tab_flow2",
        "name": "2. Tetikle (TTS + FFmpeg)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"text\":\"Merhaba, bu ikinci akış testidir. Ses üretilip 8 kilohertz telco formatına dönüştürülecektir.\",\"model\":\"tr_TR-eren-medium\",\"filename\":\"flow4_raw.wav\"}",
        "payloadType": "json",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "http_piper_flow2"
            ]
        ]
    },
    {
        "id": "http_piper_flow2",
        "type": "http request",
        "z": "tab_flow2",
        "name": "Piper TTS API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/api/tts",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "py_func_ffmpeg_flow2"
            ]
        ]
    },
    {
        "id": "py_func_ffmpeg_flow2",
        "type": "python-function",
        "z": "tab_flow2",
        "name": "FFmpeg Komutunu Üret (Python)",
        "func": "file_info = msg.get('payload', {})\ninput_path = file_info.get('file_path', '/tmp/media/flow2_raw.wav')\noutput_path = '/tmp/media/flow2_telecom.wav'\n\nmsg['formatted_audio'] = output_path\nmsg['payload'] = f\"ffmpeg -y -i {input_path} -ar 8000 -ac 1 -c:a pcm_s16le {output_path}\"\nreturn msg",
        "outputs": 1,
        "x": 680,
        "y": 140,
        "wires": [
            [
                "exec_ffmpeg_flow2"
            ]
        ]
    },
    {
        "id": "exec_ffmpeg_flow2",
        "type": "exec",
        "z": "tab_flow2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "FFmpeg 8kHz Converter",
        "x": 950,
        "y": 140,
        "wires": [
            [
                "debug_flow2"
            ],
            [
                "debug_flow2"
            ],
            [
                "debug_flow2"
            ]
        ]
    },
    {
        "id": "debug_flow2",
        "type": "debug",
        "z": "tab_flow2",
        "name": "Flow 2 Sonuç (FFmpeg Output)",
        "active": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 140,
        "wires": []
    },
    {
        "id": "comment_flow3",
        "type": "comment",
        "z": "tab_flow3",
        "name": " Akış 3: Tam IVR Arama & Dinletme Akışı (Python)",
        "info": "1. '3. Tetikle (Arama Yap)' düğmesine basın.\n2. Piper TTS ile anons WAV üretilir.\n3. FFmpeg ile 8kHz telekom formatına dönüştürülür.\n4. Baresip ctrl_tcp (5555) üzerinden /dial komutu gönderilerek numara aranır.",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject_flow3",
        "type": "inject",
        "z": "tab_flow3",
        "name": "3. Tetikle (Arama Yap)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"text\": \"Merhaba, bu üçüncü akış testidir. Otomatik IVR araması yapılıyor.\", \"model\": \"tr_TR-fahrettin-medium\", \"filename\": \"flow3_anons.wav\", \"phone_number\": \"sip:test@127.0.0.1\"}",
        "payloadType": "json",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "py_func_prep_flow3"
            ]
        ]
    },
    {
        "id": "py_func_prep_flow3",
        "type": "python-function",
        "z": "tab_flow3",
        "name": "Parametreleri Sakla (Python)",
        "func": "payload_data = msg.get('payload', {})\nif isinstance(payload_data, dict):\n    msg['target_phone'] = payload_data.get('phone_number', 'sip:test@127.0.0.1')\nelse:\n    msg['target_phone'] = 'sip:test@127.0.0.1'\nreturn msg",
        "outputs": 1,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "http_piper_flow3"
            ]
        ]
    },
    {
        "id": "http_piper_flow3",
        "type": "http request",
        "z": "tab_flow3",
        "name": "Piper TTS API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/api/tts",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 140,
        "wires": [
            [
                "py_func_ffmpeg_flow3"
            ]
        ]
    },
    {
        "id": "py_func_ffmpeg_flow3",
        "type": "python-function",
        "z": "tab_flow3",
        "name": "FFmpeg Komutunu Üret (Python)",
        "func": "payload_data = msg.get('payload', {})\ninput_path = payload_data.get('file_path', '/tmp/media/flow3_anons.wav')\noutput_path = '/tmp/media/flow3_telecom.wav'\n\nmsg['audio_to_play'] = output_path\nmsg['payload'] = f\"ffmpeg -y -i {input_path} -ar 8000 -ac 1 -c:a pcm_s16le {output_path}\"\nreturn msg",
        "outputs": 1,
        "x": 860,
        "y": 140,
        "wires": [
            [
                "exec_ffmpeg_flow3"
            ]
        ]
    },
    {
        "id": "exec_ffmpeg_flow3",
        "type": "exec",
        "z": "tab_flow3",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "FFmpeg 8kHz Converter",
        "x": 1130,
        "y": 140,
        "wires": [
            [
                "py_func_baresip_dial_flow3"
            ],
            [
                "py_func_baresip_dial_flow3"
            ],
            [
                "py_func_baresip_dial_flow3"
            ]
        ]
    },
    {
        "id": "py_func_baresip_dial_flow3",
        "type": "python-function",
        "z": "tab_flow3",
        "name": "Baresip /dial Komutunu Oluştur (Python)",
        "func": "target = msg.get('target_phone', 'sip:test@127.0.0.1')\nmsg['payload'] = f\"/dial {target}\\n\"\nreturn msg",
        "outputs": 1,
        "x": 1420,
        "y": 140,
        "wires": [
            [
                "tcp_baresip_flow3"
            ]
        ]
    },
    {
        "id": "tcp_baresip_flow3",
        "type": "tcp request",
        "z": "tab_flow3",
        "name": "Baresip ctrl_tcp (5555)",
        "server": "baresip",
        "port": "5555",
        "out": "time",
        "splitc": "0",
        "x": 1690,
        "y": 140,
        "wires": [
            [
                "debug_flow3"
            ]
        ]
    },
    {
        "id": "debug_flow3",
        "type": "debug",
        "z": "tab_flow3",
        "name": "Flow 3 Sonuç (Baresip Output)",
        "active": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1930,
        "y": 140,
        "wires": []
    }
]